node_modules
# Keep environment variables out of version control
.env

# Build output
dist

# Compiled JS files (should only be in dist/)
*.js
*.js.map
*.d.ts
!src/**/*.ts

# Test files compiled output
test/*.js
test/*.js.map

/generated/prisma
